<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016. Gyorvari Gabor. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>MailReceiptPlugin</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>AB695A2B-4605-4A74-A99F-AF9F9C92C41B</string>
		<string>DAF41AB7-F9AD-4273-9934-C81C74705B69</string>
		<string>1550C683-EA48-4036-B7CE-FB6F5D13EE02</string>
		<string>71562B89-0D90-4588-8E94-A75B701D6443</string>
	</array>
</dict>
</plist>
